.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.todos {
  width: 80%;
}
.activity {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.todoHead {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.workTitle {
  font-weight: bold;
  margin-left: 2rem;
}
.todoHead span {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ToDos BOdy */

.todoBody {
  height: 92%;
  display: flex;
  flex-direction: row;
}
.newTodo {
  background: #1b98f5;
  color: #000;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.newTodo:hover {
  background: #fff;
}
